html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  /*background-color: #e9eaec;*/
}

#map-canvas { 
  height: 91vh;
  width: 100%;
  padding: 0;
}

.selections {
  height: 200px;
  margin-top: 30px;
  text-align: center;
}

.filterLabel {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.selectionLabel {
  display: inline;
}

.selector {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 30px auto;
  margin-bottom: 10px;
  display: table;
}

.selector:hover {
  box-shadow: 0 0 8px gray;
}

.nav-pills {
  padding-right: 20px;
  padding-top: 5px;
}

#navigation {
  height: 9vh;
  /*background-color: dimgray;*/
  color: white;
  z-index: 1;
  margin-bottom: 0px;
}

#search-form {
  float: right;
}

.form-control {
  margin-right: 5px;
}

#search-button {
  /*background-color: whitesmoke;*/
}

.navbar-brand {
  padding: 0px 10px;
  margin-left: 20px;
  height: 25px;
}

.navbar-form {
  margin-bottom: 0px;
}

#title {
  /*color: white;*/
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /*font-style: italic;*/
  margin-left: 10px;
  font-size: 30px;
}

.error-message {
  margin-top: 35px;
  color: #9d9d9d;
}

.job-item:hover {
  /*box-shadow: 0 0 8px dimgray;*/
  background-color: #f5f5f5;
}

.job-item {
  margin-bottom: 3px;
  border-radius: 5px;
  border-bottom: 1px solid #EEE;
  background-color: white;
  padding: 10px;
}

.job-company {
  font-weight: bold;
  font-size: 18px;
}

.job-location {
  display: inline;
  float: right;
  color: gray;
}

.loc-icon {
  display: inline;
}

.jobs-box {
  background-color: white;
  margin-top: 20px;
}

.job-title {
  /*font-weight: bold;*/
  /*color: gray;*/
  /*font-style: italic;*/
  font-size: 14px;
}

.job-skills {
  font-size: 12px;
  color: gray;
}

.job-sal-equity {
  display: inline;
  float: right;
  color: gray;
}

#sal-table {
  margin-bottom: 10px;
  align: center;
  margin: 0px auto;
  margin-bottom: 20px;
}

#num-table {
  align: center;
  margin: 0px auto;
}

.col-label {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

td {
  padding: 0px 10px;
}

.metrics {
  display: inline;
  margin-left: 50px;
  text-align: center;
}

.jobs-list {
  /*border-style: solid black 1px;*/
  border-color: black;
  margin-bottom: 25px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

.title-string {
  font-size: 20px;
  /*font-weight: bold;*/
  color: black;
  text-align: center;
  /*background-color: #F8F8F8;*/
  border-radius: 5px 5px 0px 0px;
  /*font-style: italic;*/
  /*margin-top: 25px;*/
  /*border-style: solid;*/
  border-bottom: 1px solid #EEE;;
  /*border-color: gray;*/
  padding: 5px;
}

.salaryChart rect {
  fill: black;
}

.salaryChart text {
  margin-top: 50px;
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.numberChart rect {
  fill: black;
}

.numberChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

