html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

#map-canvas { 
  height: 400px; 
  padding: 0;
}

.nav-pills {
  padding-right: 20px;
  padding-top: 5px;
}

#navigation {
  height: 60px;
  background-color: dimgray;
  color: white;
  z-index: 1;
}

#search-form {
  float: right;
}

.form-control {
  margin-right: 5px;
}

#search-button {
  background-color: whitesmoke;
}

.navbar-brand {
  padding: 0px 10px;
  margin-left: 20px;
}

#title {
  color: white;
  font-family: 'Lobster', cursive;
  font-style: italic;
  margin-left: 10px;
  font-size: 30px;
}

.job-item:hover {
  box-shadow: 0 0 8px dimgray;
}

.job-item {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
}

.job-company {
  font-weight: bold;
  font-size: 18px;
}

.job-location {
  display: inline;
  float: right;
  color: gray;
}

.loc-icon {
  display: inline;
}

.job-title {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.job-sal-equity {
  display: inline;
  float: right;
  color: gray;
}

.job-skills {
}

.jobs-list {
  border-style: solid;
  border-color: gray;
  margin-bottom: 25px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

.title-string {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: gray;
  border-radius: 5px 5px 0px 0px;
  font-style: italic;
  margin-top: 25px;
  border-style: solid;
  border-bottom: none;
  border-color: gray;
  padding: 5px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

