html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

#map-canvas { 
  height: 400px; 
  padding: 0;
}

.nav-pills {
  padding-right: 20px;
  padding-top: 5px;
}

#navigation {
  height: 60px;
}

.navbar-brand {
  padding: 0px 10px;
  margin-left: 20px;
}


.job-item:nth-child(even){
  background-color: #E8E8EE;
}

.job-item:hover {
  background-color: lightgrey;
}


SELECT Links.id as id, Links.link as link, Links.skills as skills,
  Links.salary_min as salary_min, Links.salary_max as salary_max,
  Links.salary_avg as salary_avg, Links.equity as equity, Locations.city as city,
  Titles.title as title, Companies.name as company
FROM Links
LEFT JOIN Links ON Links.title_id=Locations.id
JOIN Titles ON Titles.id=Links.title_id
JOIN Companies ON Companies.id=Links.company_id
WHERE Locations.city='denver';
